[["ifcs2022" "IFCS 2022"]
 ["euro32" "EURO2022"]
 ["or2021" "Operations Research 2021"]
 ["ifors2021" "IFORS 2021"]
 ["euro31" "EURO 2021"]
 ["orahs2021" "ORAHS 2021"]
 ["europt2021" "Europt 2021"]
 ["isolde2021" "ISOLDE XV - Online"]
 ["orahs2020" "ORAHS 2020"]
 ["gor2019" "Operations Research 2019"]
 ["orahs2019" "ORAHS 2019"]
 ["euro30" "EURO 2019"]
 ["or2018" "Operations Research 2018"]
 ["euro29" "EURO 2018"]
 ["europt2018" "Europt 2018"]
 ["gor2017" "Operations Research 2017"]
 ["ifors2017" "IFORS 2017"]
 ["gor2016" "Operations Research 2016"]
 ["euro28" "EURO 2016"]
 ["europt2016" "Europt 2016"]
 ["ecco2016" "ECCO XXIX - 2016"]
 ["or2015" "Operations Research 2015"]
 ["euro27" "EURO 2015"]
 ["verolog2015" "VeRoLog 2015"]
 ["ewgcfm2015" "55th EWGCFM meeting"]
 ["gor2014" "Operations Research 2014"]
 ["ifors2014" "IFORS 2014"]
 ["natsci" "Mini-EURO conference: Optimization in Natural Sciences"]
 ["or2013" "Operations Research 2013"]
 ["euro26" "EURO/INFORMS 2013"]
 ["europt2013" "Europt 2013"]
 ["gor2012" "Operations Research 2012"]
 ["euro25" "EURO 2012"]
 ["ecco25" "ECCO XXV - 2012"]
 ["or2011" "Operations Research 2011"]
 ["ifors2011" "IFORS 2011"]
 ["gor2010" "Operations Research 2010"]
 ["euro24" "EURO 2010"]
 ["europt2010" "Europt 2010"]
 ["mini24" "24th MEC EurOPT 2010"]
 ["euro23" "EURO 2009"]
 ["europt2009" "Europt 2009"]
 ["gor2008" "Operations Research 2008"]
 ["ifors2008" "IFORS 2008"]
 ["gor2007" "Operations Research 2007"]
 ["euro22" "EURO 2007"]
 ["euro21" "EURO 2006"]
 ["ifors2005" "IFORS 2005"]]
