.header {
  height: 60px;
}

#main {
  margin-top: 60px;
}

.abstract {
  white-space: pre-line;
  text-align: justify;
}

.sessions {
  height: calc(100vh - 200px);
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.navbar-brand {
  max-width: 60%;
}

.session {
  text-align: left;
  white-space: normal;
}
