.header {
  height: 60px;
}

.letter {
  min-width: 2.2rem;
  margin-left: -0.4444em;
}

#main {
  margin-top: 60px;
}

.material-icons {
  font-size: 4vh;
}

.abstract {
  white-space: pre-line;
  text-align: justify;
}

.sessions {
  height: calc(100vh - 200px);
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.navbar-brand {
  max-width: 60%;
}

.session {
  text-align: left;
  white-space: normal;
}

.login {
  padding: 1rem;
  background: lightblue;
  color: blue;
}
